$black: #000000;
$white: #ffffff;
$whiteBG: #f4f4f4;
$btncolor: #cccccc;
$borderColor: #ddd;
$primaryRed: #dc3545;
$primaryRedHover: #c82333;
$primaryBlue: #007bff;
$primaryBlueHover: #0056b3;
$opacity1: rgba(0, 0, 0, 0.1);
$opacity5: rgba(0, 0, 0, 0.5);
$listLineColor: #ddd;
$grayColor: #808080;
