@import "../../styles/variables";

.todoList {
  list-style: none;
  padding: 0;
  height: 70%;
  overflow: auto;

  li {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $listLineColor;
    .todoListTitle {
      width: 56%;
      overflow-wrap: break-word;
    }
    .completed {
      color: $grayColor;
      text-decoration: line-through;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  button {
    border: none;
    background: $primaryRed;
    color: $white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
  }

  button:hover {
    background: $primaryRedHover;
  }
}
