@import "./styles/variables";

body {
  font-family: Arial, sans-serif;
  background-color: $whiteBG;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: $white;
  box-shadow: 0 0 10px $opacity1;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 60vh;
  // max-height: 60vh;
  // overflow: auto;

  .todoContainer {
    height: 72%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .deleteAll {
    padding: 10px 20px;
    border: none;
    background: $primaryRed;
    color: $white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
  }

  .deleteAll:hover {
    background: $primaryRedHover;
  }
}
